*{
    margin:0;
    padding:0;
}


/*---------------------------NAV BAR-----------------------------------------*/
nav{
    z-index: 999;
    background-color: rgba(28, 28, 28, 0.333);
    display:flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    transition:500ms;
}
#logo{
    width:5.1vw;
    padding:0 1.2vw;
}
#menu{
    margin:0 1vw;
}
#menu li {
    display:inline-block;
    padding:5px;
    margin:1vw;
    height: fit-content;
}
.menu-link{
    border-left: solid 3px transparent;
    border-radius: 5px;
    transition:250ms;
}
#menu a{
    padding:2px;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.4vw;
}

.menu-link:hover{
    transform:scale(110%);
    border-color: rgba(200, 60, 14, 0.642);
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.285), rgba(0, 140, 255, 0.116));
}
.icon{
    margin-right:0.3vw;
    padding:0.3vw;
    width:1.8vw;
    fill:white;
}

/*-----------------------------FOOTER-----------------------------------------------------*/

footer{
    background-color: #111;
    padding:2vh 2vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
#copyright{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 10;
    font-size:0.8vw;
    text-align:right;
    position: relative;
    bottom:0;
    right:0;
    background-color: black;
    padding:0.5vh 2vw;
}
#about{
    width:20vw;
    color:white;
    text-align:left;
    padding:0 3vw;
    text-align: left;
    border-right:solid 2px white;
}
#about h2{
    font-family:arial;
    font-size:1.2vw;
}
#about p{
    font-family:comfortaa;
    font-size:0.9vw;
}
#mail{
    color:white;
    font-size:1vw;
    font-family:montserrat;
    font-weight: 100;
}
#contacts{
    width:fit-content;
    padding:0 3vw;
}
#social-foot {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#social-foot li{
    display:inline-block;
}
#social-foot svg{
    width:1.5vw;
    fill:white;
}


/*---------------Mobile-----------------------*/
@media only screen and (max-width:390px){
    #logo{
        width:10vw;
    }
    #menu a{
        font-size:4.3vw;
    }
    .icon{
        width:5vw;
    }
    nav{
        height:10vh;
    }
}

/*------------Tab----------------*/
@media only screen and (max-width:900px){
    #logo{
        width:10vw;
    }
    #menu a{
        font-size:4vw;
    }
    .icon{
        width:4.5vw;
    }
    nav{
        height:10vh;
    }
    #social{
        margin-right:2vw;
    }


    #copyright{
        font-size:2vw;
    }
    #about{
        width:40vw;
    }
    #about h2{
        font-size:2.5vw;
    }
    #about p{
        font-size:1.8vw;
    }
    #contacts{
        width:40vw;
    }
    #social-foot svg{
        width:4vw;
    }
    #mail{
        font-size:2vw;
    }
}