html{
    min-height: 100%;
    scroll-behavior: smooth;
    width:100%;
}
#backdrop{
    z-index: -1;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    min-height: 100vh;
    background-image: linear-gradient(45deg, rgba(135, 14, 14, 0.800), rgb(7, 7, 168, 0.800) , rgb(212, 175, 55, 0.800)  ), url("Images/squares.png");
    background-size: 150% 150%;
    animation: BackgroundGradient 20s infinite;
    filter:saturate(120%);
    filter:brightness(0.5);
}

#hero h1{
    color:#d4af37;
    font-family: monoton;
    font-weight: 100;
    font-size:5vw;
    text-align: center;
    text-shadow: 0 0 20px #fad044;
    padding-top:30vh;
    cursor:default;
}
#hero h3{
    padding-top:15vh;
    color:white;
    font-family: comfortaa;
    cursor:default;
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
#hero{
    height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
}
#release{
    height: 100vh;
    background-image: linear-gradient(to right, rgba(79, 0, 0, 0.95), rgba(0, 61, 111, 0.95)), url("Images/pexels-edward-jenner-4252899.png");
    background-size:100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15vh 5vw;
    filter:saturate(120%);
}
#release h2{
    z-index: 1;
    color:rgb(255, 255, 255);
    text-align:center;
    font-family:comfortaa;
    font-size:3vw;
    text-shadow: 2px 2px 8px #d4af37;
    cursor:default;
}
#come{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #0000002d;
    padding:1vw;
    border-radius:10px;
}
#up{
    width:20vw;
    border-radius:10px;
    box-shadow: 0 0 10px #d4af37;
    margin:3vw;
}
#links{
    padding-top:5vh;
    display:flex;
    width:40vw;
    justify-content: space-between;
}
#spotify{
    width:10vw;
    border-radius: 10px;
    padding:0.5vw;
    transition: 500ms;
}
#spotify:hover{
    transform: scale(110%);
}
#amazon{
width:7vw;
margin:0 1.5vw;
transition:500ms;
}
#amazon:hover{
transform: scale(110%);
}

#soundcloud{
    width:7vw;
    transition:500ms;
}
#soundcloud:hover{
    transform:scale(110%);
}

#embed{
    margin-top:10vh;
    width:100%;
    display:flex;
    justify-content: center;
}
#contact{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(1, 2, 97, 0.8), rgba(74, 0, 17, 0.8)), url("Images/pexels-asim-alnamat-32997.png");
    background-size: cover;

}
#box {
    width:fit-content;
    height: fit-content;
    padding:20px;
    background-color: rgba(68, 68, 68, 0.5);
    border-radius: 5px;
}
input{
    display:block;
    padding:10px;
    margin:10px 0px;
    font-family: 'Montserrat';
    font-size: 1.5vw;
    border-radius: 5px;
    border-color: transparent;
    width:calc(100% - 20px);
}
#msg{
    height: 30vh;
    resize: none;
    border-color: transparent;
    width:calc(100% - 20px);
    padding:10px;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-size: 1.5vw;
}
button{
    font-family: 'arial';
    padding:5px;
    font-size: 1.2vw;
    border-radius: 10px;
    border-color: transparent;
    width:fit-content;
    margin-top:10px;
    float:right;
    box-shadow: #111 2px 2px 10px;
    transition:700ms;
    background-color: transparent;
    color:white;
    cursor: pointer;
}
button:hover{
    transform: scale(105%);
    filter:brightness(110%);
    box-shadow: none;
    border-color: #d4af37;
    color:#d4af37;
    background-color:rgba(35, 3, 166, 0.409);
}
.field{
    filter:brightness(80%);
    transition:700ms;
    background-color: rgba(94, 77, 110, 0.438);
    box-shadow: #111 2px 2px 10px;

}
.field:focus{
    outline:none;
    filter:brightness(150%);
    box-shadow: 0 0 10px #d4af37;

}
#title{
    color:white;
    font-family: comfortaa;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 20px;
    text-shadow: #d4af37 2px 2px 4px;
    cursor: default;
}

.field:not(:placeholder-shown){
    background-color: white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
  

@media only screen and (max-width:900px){
    #box h1{
      font-size: 5.5vw;
    }
    input {
      font-size: 4vw;
    }
    #msg{
      font-size:4vw;
    }
    button{
      font-size:3vw;
    }


    #hero h1{
        font-size:8vw;
    }
    #hero h3{
        font-size:5vw;
        padding-top:20vh;
    }
    #spotify{
        width:25vw;
    }
    #amazon{
        width:20vw;
    }
    #soundcloud{
        width:20vw;
    }
    #links{
        width:90vw;
    }
    #up{
        width:50vw;
    }
    #release h2{
        font-size:5vw;
    }
    #come{
        padding:2vw;
    }
    #release{
        padding:0 0;
        align-items: center;
        justify-content: center;
    }
    #embed{
        width:90vw;
    }
  }

  @media only screen and (max-width:640px){
    #box h1{
      font-size:10vw;
    }
    input{
      font-size:4.5vw;
    }
    #msg{
      font-size:4.5vw;
    }
    button{
      font-size:4vw;
    }
  }

  /*--------------Mobile-----------------*/
  @media only screen and (max-width:390px){
      #hero h1{
          font-size:10vw;
      }
      #hero h3{
          font-size:6vw;
          padding-top:25vh;
      }
      #spotify{
          width:25vw;
      }
      #amazon{
          width:20vw;
      }
      #soundcloud{
          width:20vw;
      }
      #links{
          width:90vw;
      }
      #up{
          width:50vw;
      }
      #release h2{
          font-size:5vw;
      }
      #come{
          padding:2vw;
      }
      #release{
          padding:0 0;
          align-items: center;
          justify-content: center;
      }
      #embed{
          width:90vw;
      }
  }